/* Base styles */

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* background-color: powderblue; */
  background-color: #f1f1f1;
  
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(182, 160, 249);
}

main {
  /* background-color: rgb(222, 93, 226); */
  margin-bottom: auto;
}

footer {
  background-color: #797979;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  min-height: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
  text-decoration: none;
  color: #f4f5f4;
}
.nav-link:hover {
  color: #4238d3;
}

.section-item a {
  color: #4238d3;
  text-decoration: none;
  transition: color 0.5s;
}
.section-item a:hover {
  color: #6edffc;
}

html {
  scroll-behavior: smooth;
}

.rss {
  width: 121px;
  height: 45px;
  background-image: url("./assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.section-profile-logo {
  width: 190px;
  height: 190px;
  object-fit: cover;
  /* border-radius: 10px; */
  border-radius: 50%;
  /* box-shadow: 0 1px 4px rgb(0 0 0 / 60%); */
  filter: grayscale(0.2) brightness(0.9);
  transition: 0.3s;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 2px solid #d7d1c9;
}

.section-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: #797979;
  /* font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985; */
}

.section-subtitle {
  margin-top: 10px;
  color: #797979;
  font-size: 18px;
  /* color: #5c5c5c; */
  /* line-height: 50px;
  font-weight: 300;
  letter-spacing: 2px; */
}

.main-title {
  /* position: relative;
  padding: 0;
  margin-bottom: 20px; */
  color: #4d2323;
  font-size: 30px;
  font-weight: 600;
  /* letter-spacing: 10px;
  line-height: 50px;
  word-spacing: 3px; */
}

.pre {
  padding: 0;
  margin: 0;
}
